<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>在线md文档</title><link rel="stylesheet" href="/static/style.css"><link rel="stylesheet" href="/static/preview.css"><style type="text/css">body{padding-top:2%;padding-left:20%;padding-right:20%;padding-bottom:2%;}</style></head><body><h1 id="markdown-">markdown常用语法</h1>
<h2 id="1-">1.字体大小（# 越多字体越小）</h2>
<blockquote>
<p># 格式</p>
</blockquote>
<h1 id="-">效果</h1>
<h2 id="-">效果</h2>
<h3 id="-">效果</h3>
<h4 id="-">效果</h4>
<h2 id="2-">2.格式化</h2>
<blockquote>
<p>>  格式</p>
</blockquote>
<blockquote>
<p>效果</p>
</blockquote>
<h2 id="3-">3.另一种格式化</h2>
<blockquote>
<p>```<br>格式<br>```</p>
</blockquote>
<pre><code>效果
</code></pre><p>##</p>
</body></html>