<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>在线md文档</title><link rel="stylesheet" href="/static/style.css"><link rel="stylesheet" href="/static/preview.css"><style type="text/css">body{padding-top:2%;padding-left:20%;padding-right:20%;padding-bottom:2%;}</style></head><body><h1 id="pep8-">pep8的代码风格</h1>
<h2 id="1-">1.缩进</h2>
<h3 id="1-1-tab-tab-">1.1 使用四个空格缩进（或使用同一种格式，不混用tab和空格）（或使用tab转空格）</h3>
<h3 id="1-2-">1.2 参数或条件过多时的换行缩进</h3>
<ul>
<li>函数定义，函数调用，if条件,数组定义</li>
</ul>
<pre><code>foo = long_function_name(var_one, var_two,
                         var_three, var_four)
foo = long_function_name(
    var_one, var_two,
    var_three, var_four)
</code></pre><pre><code>def long_function_name(
        var_one, var_two, var_three,
        var_four):
    print(var_one)
</code></pre><pre><code>if (this_is_one_thing and
    that_is_another_thing):
    do_something()
</code></pre><pre><code>my_list = [
    1, 2, 3,
    4, 5, 6,
    ]
</code></pre><h2 id="2-">2.行字符限制</h2>
<h3 id="2-1-79-72-">2.1 代码行限制 79 个字符；文档/注释行限制 72 个字符</h3>
<h3 id="2-2-">2.2 必要可以用反斜杠续行</h3>
<pre><code>with open(&#39;/path/to/some/file/you/want/to/read&#39;) as file_1, \
     open(&#39;/path/to/some/file/being/written&#39;, &#39;w&#39;) as file_2:
    file_2.write(file_1.read())
</code></pre><h2 id="3-">3.运算符的换行</h2>
<pre><code>income = (gross_wages
          + taxable_interest
          + (dividends - qualified_dividends)
          - ira_deduction
          - student_loan_interest)
</code></pre><h2 id="4-">4.空白行</h2>
<h3 id="4-1-">4.1 顶级函数和类前后都用两行空行</h3>
<h3 id="4-2-">4.2 类内部函数前后用一行空行</h3>
<h3 id="4-3-">4.3 功能组之间可加额外空行</h3>
<h3 id="4-4-">4.4 函数内部空行由逻辑决定</h3>
<h2 id="5-">5.文件编码</h2>
<h3 id="5-1-python-utf-8-python2-ascii-">5.1 Python核心发布版本中的代码总是以UTF-8格式编码（或者在Python2中用ASCII编码）。</h3>
<h3 id="-ascii-python2-utf-8-python3-">使用ASCII（在Python2中）或UTF-8（在Python3中）编码的文件不应具有编码声明。</h3>
<h2 id="6-">6.引入模块</h2>
<h3 id="6-1-">6.1 位置：在模块注释和全局变量定义之间</h3>
<h3 id="6-2-">6.2 顺序：</h3>
<blockquote>
<p>(1) 系统包<br>(2) 第三方包<br>(3) 自己写的本地包  </p>
</blockquote>
<h3 id="6-3-">6.3 建议的是使用绝对路径导入包</h3>
<h2 id="7-">7.引号</h2>
<h3 id="7-1-">7.1 一般情况选择单引号或双引号一种使用</h3>
<h3 id="7-2-">7.2 引号内还要引号时合用单双引号，不需要转义</h3>
<h2 id="8-">8.空格</h2>
<pre><code>spam(ham[1], {eggs: 2})
foo = (0,)
if x == 4: print x, y; x, y = y, x（鼓励不使用复合句）
</code></pre><pre><code>切片没逻辑运算时不加空格，有时加：两边空格
ham[1:9], ham[1:9:3], ham[:9:3], ham[1::3], ham[1:9:]
ham[lower:upper], ham[lower:upper:], ham[lower::step]
ham[lower+offset : upper+offset]
ham[: upper_fn(x) : step_fn(x)], ham[:: step_fn(x)]
ham[lower + offset : upper + offset]
</code></pre><pre><code>最低优先级两边加空格
i = i + 1
submitted += 1
x = x*2 - 1
hypot2 = x*x + y*y
c = (a+b) * (a-b)
</code></pre><pre><code>参数等号不加空格
def complex(real, imag=0.0):
    return magic(r=real, i=imag)
</code></pre><h2 id="9-">9.逗号</h2>
<h3 id="9-1-">9.1 尾随逗号</h3>
<pre><code>FILES = [
    &#39;setup.cfg&#39;,
    &#39;tox.ini&#39;,
    ]
initialize(FILES,
           error=True,
           )
</code></pre><h2 id="10-">10.命名</h2>
<h3 id="10-1-">10.1 全小写，全大写，全小写下划线,全大写下划线，首字母大写拼接，驼峰式</h3>
<h2 id="11-">11.<a href="https://www.python.org/dev/peps/pep-0008/#programming-recommendations">编程建议</a></h2>
</body></html>