<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>在线md文档</title><link rel="stylesheet" href="/static/style.css"><link rel="stylesheet" href="/static/preview.css"><style type="text/css">body{padding-top:2%;padding-left:20%;padding-right:20%;padding-bottom:2%;}</style></head><body><table>
<thead>
<tr>
<th>条件</th>
<th>语句</th>
<th style="text-align:center">平均时间</th>
</tr>
</thead>
<tbody>
<tr>
<td>-</td>
<td>啦啦啦</td>
<td style="text-align:center">哦哦哦</td>
</tr>
<tr>
<td>-</td>
<td>-</td>
<td style="text-align:center">-</td>
</tr>
</tbody>
</table>
</body></html>