<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>在线md文档</title><link rel="stylesheet" href="/static/style.css"><link rel="stylesheet" href="/static/preview.css"><style type="text/css">body{padding-top:2%;padding-left:20%;padding-right:20%;padding-bottom:2%;}</style></head><body><h1 id="-api-">运维平台api(装机历史部分)</h1>
<h2 id="-">接口名称:获取装机历史</h2>
<h3 id="1-">1) 请求地址</h3>
<blockquote>
<p>/history</p>
</blockquote>
<h3 id="2-http-get">2) 调用方式：HTTP GET</h3>
<h3 id="3-">3) 接口描述：管理员获取全部装机历史，用户获取用户自身装机历史</h3>
<h3 id="4-">4) 请求参数:</h3>
<table>
<thead>
<tr>
<th>字段名称</th>
<th style="text-align:center">字段说明</th>
<th style="text-align:center">类型</th>
<th style="text-align:center">必填</th>
<th style="text-align:right">备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>token</td>
<td style="text-align:center">用户身份编号</td>
<td style="text-align:center">string</td>
<td style="text-align:center">Y</td>
<td style="text-align:right">-</td>
</tr>
</tbody>
</table>
<h3 id="5-">5) 请求返回结果:</h3>
<pre><code>{
    &quot;msg&quot;: [
        {
            &quot;id&quot;:&quot;qwertyuiooop&quot;,
            &quot;product_name&quot;:&quot;哨兵云&quot;,
            &quot;product_version&quot;:&quot;v1.5.0&quot;,
            &quot;name&quot;:&quot;张三&quot;，
            &quot;machine_func_type&quot;:&quot;一体机&quot;,
            &quot;customer&quot;:&quot;李四&quot;,
            &quot;install_time&quot;:&quot;2018-08-08 12:12:12&quot;,
            &quot;install_state&quot;:2，
            &quot;log_path&quot;:&quot;/home/xxx.log&quot;
        }
    ],
    &quot;sts&quot;: 1
}
</code></pre><h3 id="6-">6) 请求返回结果参数说明:</h3>
<table>
<thead>
<tr>
<th>字段名称</th>
<th style="text-align:center">字段说明</th>
<th style="text-align:center">类型</th>
<th style="text-align:right">备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>msg</td>
<td style="text-align:center">msg</td>
<td style="text-align:center">array</td>
<td style="text-align:right">id用于查看细节接口</td>
</tr>
<tr>
<td>sts</td>
<td style="text-align:center">sts</td>
<td style="text-align:center">int</td>
<td style="text-align:right">1-成功，0-失败</td>
</tr>
</tbody>
</table>
<h2 id="-">接口名称:上传装机历史</h2>
<h3 id="1-">1) 请求地址</h3>
<blockquote>
<p>/history</p>
</blockquote>
<h3 id="2-http-post">2) 调用方式：HTTP POST</h3>
<h3 id="3-">3) 接口描述：-</h3>
<h3 id="4-">4) 请求参数:</h3>
<table>
<thead>
<tr>
<th>字段名称</th>
<th style="text-align:center">字段说明</th>
<th style="text-align:center">类型</th>
<th style="text-align:center">必填</th>
<th style="text-align:right">备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>token</td>
<td style="text-align:center">用户身份编号</td>
<td style="text-align:center">string</td>
<td style="text-align:center">Y</td>
<td style="text-align:right">-</td>
</tr>
<tr>
<td>product_detail_id</td>
<td style="text-align:center">安装产品编号</td>
<td style="text-align:center">string</td>
<td style="text-align:center">Y</td>
<td style="text-align:right">-</td>
</tr>
</tbody>
</table>
<h3 id="5-">5) 请求返回结果:</h3>
<pre><code>{
    &quot;msg&quot;: &quot;&quot;,
    &quot;sts&quot;: 1
}
</code></pre><h3 id="6-">6) 请求返回结果参数说明:</h3>
<table>
<thead>
<tr>
<th>字段名称</th>
<th style="text-align:center">字段说明</th>
<th style="text-align:center">类型</th>
<th style="text-align:right">备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>msg</td>
<td style="text-align:center">msg</td>
<td style="text-align:center">string</td>
<td style="text-align:right">失败返回失败原因，成功返回空</td>
</tr>
<tr>
<td>sts</td>
<td style="text-align:center">sts</td>
<td style="text-align:center">int</td>
<td style="text-align:right">1-成功，0-失败</td>
</tr>
</tbody>
</table>
<h2 id="-">接口名称:查看装机结果</h2>
<h3 id="1-">1) 请求地址</h3>
<blockquote>
<p>/history/result</p>
</blockquote>
<h3 id="2-http-get">2) 调用方式：HTTP GET</h3>
<h3 id="3-">3) 接口描述：-</h3>
<h3 id="4-">4) 请求参数:</h3>
<table>
<thead>
<tr>
<th>字段名称</th>
<th style="text-align:center">字段说明</th>
<th style="text-align:center">类型</th>
<th style="text-align:center">必填</th>
<th style="text-align:right">备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>token</td>
<td style="text-align:center">用户身份编号</td>
<td style="text-align:center">string</td>
<td style="text-align:center">Y</td>
<td style="text-align:right">-</td>
</tr>
<tr>
<td>id</td>
<td style="text-align:center">装机历史的id</td>
<td style="text-align:center">string</td>
<td style="text-align:center">Y</td>
<td style="text-align:right">-</td>
</tr>
</tbody>
</table>
<h3 id="5-">5) 请求返回结果:</h3>
<pre><code>{
    &quot;msg&quot;: {
        &quot;product_name&quot;:&quot;哨兵云&quot;,
        &quot;product_version&quot;:&quot;v1.5.0&quot;,
        &quot;name&quot;:&quot;张三&quot;，
        &quot;machine_func_type&quot;:&quot;一体机&quot;,
        &quot;customer&quot;:&quot;李四&quot;,
        &quot;machine_physical_type&quot;:&quot;物理机&quot;,
        &quot;ssh_port&quot;:&quot;80&quot;
        &quot;ssh_account&quot;:&quot;root&quot;
        &quot;ssh_password&quot;:&quot;password&quot;,
        &quot;ip&quot;:&quot;192.168.199.1&quot;
        &quot;public_ip&quot;:&quot;1.1.1.1&quot;
        &quot;web_port&quot;:&quot;80&quot;
        &quot;web_accout&quot;:&quot;admin&quot;
        &quot;web_password&quot;:&quot;admin&quot;
        &quot;cpu_number&quot;:&quot;5&quot;
        &quot;memory&quot;:&quot;4G&quot;
        &quot;disk&quot;:&quot;500G&quot;
        &quot;raid&quot;:&quot;asd&quot;
        &quot;sda&quot;:&quot;qwert&quot;
        &quot;net_cards&quot;:&quot;eht0&quot;
    },
    &quot;sts&quot;: 1
}
</code></pre><h3 id="6-">6) 请求返回结果参数说明:</h3>
<table>
<thead>
<tr>
<th>字段名称</th>
<th style="text-align:center">字段说明</th>
<th style="text-align:center">类型</th>
<th style="text-align:right">备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>msg</td>
<td style="text-align:center">msg</td>
<td style="text-align:center">object</td>
<td style="text-align:right">-</td>
</tr>
<tr>
<td>sts</td>
<td style="text-align:center">sts</td>
<td style="text-align:center">int</td>
<td style="text-align:right">1-成功，0-失败</td>
</tr>
</tbody>
</table>
</body></html>